@import "tailwindcss/preflight";
@tailwind utilities;
@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* index.css básico para evitar erro 500 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #003194;
}

html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
